<div :class="$style.feedback_widget">
  <h1>Hi, I'm Dinh!</h1>

  <div :class="$style.fb_group">
    <h3>Feel good when using this addon, send me a cup a coffee ($1) through PayPal!</h3>
    <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations" />
      <input type="hidden" name="business" value="Q54QX8KAYFXEQ" />
      <input type="hidden" name="item_name" value="Managing addon's service fees (Google Translate API, Oxford Dictionaries API)" />
      <input type="hidden" name="currency_code" value="USD" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form> 
  </div>
  <div :class="$style.fb_group">
    <h5>Why do you need my money?</h5>
    <p>It is used to pay for all services which this addon is using, including Google Translate API (<b>$0.05</b> per <b>500 words</b>), Oxford Dictionaries API (<b>$0.0268</b> per request) and Heroku (<b>$7</b> per month of Hobby plan which I'm using).</p>
    <p>And also it helps me to develop other fanstatic features (some better features means using a higher plan of those services, then it means it will cost more fee to me.)</p>
    <h5>What if I want to give you more?</h5>
    <p>That's great. Then I will use it to buy stuff. <a target="_blank" href="https://www.amazon.com/hz/wishlist/ls/30PBLKXOH1K48?ref_=wl_share">See my wishlist</a> on Amazon.</p>
  </div>
  
  <div :class="$style.fb_group">
    <h3>You don't feel safe when sending through Paypal or this addon is bad? Then talk to me!</h3>
    <p>My email: buiquangdinh1751@gmail.com</p>
  </div> 
</div>

