<div :class="$style.slick_list">
  <div :class="$style.header">
    <div :class="$style.title">
      Another results from Wikipedia:
    </div>
    <label :for="$style.keep_original_checkbox" :id="$style.keep_original_checkbox_lb">
      <input type="checkbox" :id="$style.keep_original_checkbox" v-model="keepOriginal">
      Keep the original results
    </label>  
  </div>
  <div :class="$style.list">
    <button :class="$style.item_btn" v-for="item in items" v-on:click="sendNameBacktoParent(item)">
      {{ item }}
    </button>
  </div>
</div>

