<div :class="[$style.log, shouldHide ? $style.hide : '' ]">
  <button :class="$style.hide_log_btn" v-on:click="switchLogDisplay">
    <font-awesome-icon icon="chevron-down" v-if="shouldHide == false"></font-awesome-icon>
    <font-awesome-icon icon="chevron-up" v-else></font-awesome-icon>
  </button>
  <div :class="$style.log_header">
    <span>
      Selected text
    </span>
    <div :class="$style.word_count">
      Words count: <span>{{ header.length }}</span>
    </div>
  </div>
  <div :class="$style.selected_text">
    {{ header }}
  </div>
  <div :class="$style.main">
    <slick-list v-bind:items="wikiResultsList" v-on:choose-name="sendNameBacktoNotePad"></slick-list>
  </div>
</div>

