<div :class="$style.translate_widget">
  <div class="group first-language">
    <h4>Choose your first language</h4>
    <custom-select 
    :options="languageOptions" 
    :defaultOption="firstLanguage" 
    @output="firstLanguage = $event;"
    ></custom-select>
    <textarea 
    :id="$style.firstlanguage_input" 
    :class="$style.textarea_input" 
    tabindex="0" 
    autofocus 
    v-model="firstLanguageInput" 
    ></textarea>
    <span 
    style="float: right; margin-right: 15px" 
    :class="{ [$style.warningspan] : firstLanguageInput.length >= EXCEED_WORDS_LIMIT }"
    >{{ firstLanguageInput.length }} / {{ EXCEED_WORDS_LIMIT }}</span>
    <div style="clear: both"></div>
  </div>
  <div class="group target-language">
    <div :class="$style.title_controller">
      <h4>Choose a target language</h4>
      <!--
      <button @click="revertTranslate" :class="$style.revert_translate_btn">Revert</button>
        -->
    </div>
    <custom-select 
    :options="languageOptions" 
    :defaultOption="targetLanguage" 
    @output="targetLanguage = $event;"
    ></custom-select>
    <div :class="$style.textarea_input">
      {{ translatedText }}
    </div>
  </div>
  <div 
  :class="$style.exceed_words_limit_warning" 
  v-if="showExceedWarning"
  >
    <h3 :class="$style.warningspan">Exceed words limit !</h3>
    <p>
      I'm using Google Translation API is a paid service to prevent poor results reaching you, 
      meanwhile, 
      to bring to you the most convenient way to use this addon, 
      it's free. So I have to reduce as much cost as possible to 
      keep this addon running. 
      To translate more-than-{{ EXCEED_WORDS_LIMIT }}-characters sentence, 
      please using the <a target="_blank" :href="`https://translate.google.com/?sl=${firstLanguage.key}&tl=${targetLanguage.key}&text=${firstLanguageInput}&op=translate`">Google Translate website</a>. Thank you.
    </p>
  </div>
</div>

