@use '../../assets/scss/base.scss' as base;

.wikipedia_widget_footer{
    &{
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 5px;
        text-align: left;
    }

    .hide_footer_btn{
        &{
            position: absolute;
            top: -10px;
            right: 0px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 0;
            background-color: base.$primary-color;
            color: white !important;
            cursor: pointer;
            transition: background-color .2s;

            @include base.button-extend;
            @include base.darker-when-hover(base.$primary-color, 20%);
        }

        svg{
            color: white !important;
        }

        &.expand{
            top: -30px;
        }
    }

    .footer_container{
        &{
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            border-radius: 15px;
            background-color: base.$base-color;
            display: block;
            @include base.box-shadow;
        }

        &.hide{
            display: none;
        }

        .footer_header{
            &{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px;

                @include base.normal-text;
            }

            .word_count{
                margin-right: 20px;
            }
        }

        .selected_text{
            @include base.medium-text;

            margin: 10px;
            margin-top: 5px;
            padding: 10px;
            min-height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background-color: base.$background-color;
            border-radius: 5px;

            @include base.box-shadow;
        }

        .main{
            &{
                margin: 12px;
                @include base.normal-text;
            }

            .select_section{
                &{
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                #term-checkbox-label{
                    margin-right: 5px;
                }
    
                .header{
    
                }
    
                #term-checkbox{
    
                }
            }
        }
    }
}