<div :class="$style.oxford_dictionaries_widget">
  <div :class="$style.oxford_header">
    <custom-select
      :options="languageOptions" 
      :defaultOption="sourceLanguage"
      @output="sourceLanguage = $event;"
    ></custom-select>
    <input 
    type="text"
    :id="$style.sourcelanguage_input"
    :class="$style.text_input"
    autofocus
    tabindex="0"
    v-model="word"
    placeholder="Enter a word"
    />
    <button 
    :id="$style.searchOxford"
    :class="{ [$style.disable_search] : !shouldDoOxford }"
    @click="fetchResult"
    >
      Search
    </button> 
    <hr>
  </div>
  <div :class="$style.main_content">
    <div :class="$style.show_warning_container" v-if="warningText !== ''">
      {{ warningText }}
    </div>
    <div 
    :class="$style.oxford_entry"
    v-for="lexicalEntry in lexicalEntries"
    :key="uid"
    >
      <h4 style="margin-left: 10px;">{{ lexicalEntry.text }}<span :class="$style.unheader_text"> | Lexical Form: {{ lexicalEntry.lexicalCategory.text }}</span></h4>
      <p  style="margin-left: 10px;">Provider: Oxford University Press</p>
      <hr>

      <!--Senses-->
      <div :class="$style.group" v-if="typeof lexicalEntry.entries[0].senses !== 'undefined'">
        <div :class="$style.group_header">
          <div :class="$style.title">Senses</div>
        </div>
        <div 
        :class="$style.content" 
        v-for="sense in lexicalEntry.entries[0].senses"
        >
        <!--definitions-->
        <div v-if="typeof sense.definitions !== 'undefined'">
          <h5>Definitions</h5>
          <div>
            <div 
            v-for="def in sense.definitions"
            style="display: list-item; list-style-position: inside; list-style: circle; margin-left: 20px;"
            >
              {{ def }}
            </div>
          </div>
        </div>

        <!--examples-->
        <div v-if="typeof sense.examples !== 'undefined'">
          <h5>Examples</h5>
          <div style="width: 100%;">
            <div 
            v-for="example in sense.examples" 
            style="display: list-item; list-style-position: inside; list-style: square; margin-left: 20px;"
            >
              <i>{{ example.text }}</i>
            </div>
          </div>
        </div>

        <!--sub senses-->
        <div v-if="typeof sense.subsenses !== 'undefined'">
          <h5>Sub-definitions</h5>
          <div style="width: 100%;">
            <div 
            v-for="subsense in sense.subsenses" 
            style="display: list-item; list-style-position: inside; list-style: circle; margin-left: 20px;"
            >
              <p v-if="typeof subsense.definitions !== 'undefined'"><b>{{ subsense.definitions[0] }}</b></p>
              <i v-if="typeof subsense.examples !== 'undefined'">Example: {{ subsense.examples[0].text }}</i>
            </div>
          </div>
        </div>  
        
        </div>
      </div>
      <!--END Senses-->
      <br>
      <!--Pronunciations-->
      <div :class="$style.group" v-if="typeof lexicalEntry.entries[0].pronunciations !== 'undefined'">
        <div :class="$style.group_header">
          <div :class="$style.title">Pronunciations</div>
        </div>
        <div 
        :class="$style.content" 
        v-for="pronunciation in lexicalEntry.entries[0].pronunciations"
        >
        <p v-if="typeof pronunciation.dialects !== 'undefined'">
          <b>Dialects: </b>
          <span>
            {{ pronunciation.dialects[0] }}
          </span>
        </p>
        <p v-if="typeof pronunciation.phoneticNotation !== 'undefined'">
          <b>Phonetic notation: </b>
          <span>
            {{ pronunciation.phoneticNotation }}
          </span>
        </p>
        <p v-if="typeof pronunciation.phoneticSpelling !== 'undefined'">
          <b>Phonetic spelling: </b>
          <span>
            {{ pronunciation.phoneticSpelling }}
          </span>
        </p>
        <p v-if="typeof pronunciation.audioFile !== 'undefined'">
          <b>Audio file: </b>
          <a target="_blank" :href="pronunciation.audioFile">
            Click here to download
          </a>
        </p>
        </div>
      </div>
      <!--END Pronunciations-->
      <br>
      <!--Etymologies-->
      <div :class="$style.group" v-if="typeof lexicalEntry.entries[0].etymologies !== 'undefined'">
        <div :class="$style.group_header">
          <div :class="$style.title">Etymologies</div>
        </div>
        <div :class="$style.content">
          <p v-for="etymology in lexicalEntry.entries[0].etymologies">
            {{ etymology }}
          </p>
        </div>
      </div>
      <!--END Etymologies-->

      <!--
      <div :class="$style.group" v-if="lexicalEntry.entries">
        <div :class="$style.group_header">
          <div :class="$style.title">Etymologies</div>
          <i>Etymologies is the study of the origin of words and the way in which their meanings have changed throughout history.</i>
        </div>
        <div :class="$style.content">
          {{ etymologies }}
        </div>
      </div>
      
      <hr>
      <div :class="$style.group" v-if="pronunciations !== null">
        <div :class="$style.group_header">
          <div :class="$style.title">Pronunciations</div>
          <i>Pronunciation is the way in which a word or a language is spoken.</i>
        </div>
        <div :class="$style.content" v-for="pronunciation in pronunciations">
          <p>
            <b>Dialects: </b>
            <span>
              {{ pronunciation.dialects[0] }}
            </span>
          </p>
          <p>
            <b>PhoneticNotation: </b>
            <span>
              {{ pronunciation.phoneticNotation }}
            </span>
          </p>
          <p>
            <b>PhoneticSpelling: </b>
            <span>
              {{ pronunciation.phoneticSpelling }}
            </span>
          </p>
          <p v-if="pronunciation.audioFile">
            <b>Audio File: </b>
            <a target="_blank" :href="pronunciation.audioFile">
              Click here to download
            </a>
          </p>
        </div>
      </div>
    -->
    </div>
  </div>
</div>

