.oxford_dictionaries_widget {
    &{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .oxford_header{
        &{
            width: 100%;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
        }
    }

    .oxford_entry{
        padding: 5px;
        border-radius: 10px;
        background-color: #ecf0f1;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;

        &:not(:first-child){
            margin-top: 10px;
        }
    }

    #searchOxford{
        margin: 10px;
        border-radius: 20px;
        width: calc(100% - 20px);
        padding: 10px;
        border: 0;
        background-color: #3498db;
        transition: background-color .3s;
        color: white !important;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;

        &:hover, &:focus{
            outline: 0;
            background-color: darken(#3498db, 20%);
        }

        &.disable_search{
            background-color: darken(#3498db, 50%);
            cursor: default;
        }
    }

    .text_input{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 0 10px;
        width: calc(100% - 20px);
        border: 1px solid gray;
        background-color: #fdfdfd;
        font-size: 1.1em;
        padding: 10px;
    }

    .main_content{
        &{
            overflow: auto;
            width: 100%;
            height: calc(100% - 200px);
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
        }

        .show_warning_container{
            margin: 10px;
            padding: 10px;
            color: #e74c3c;
            background-color: #ecf0f1;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            border-radius: 5px;
            -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.75);
            box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.75);
        }

        .group{
            margin: 10px;

            .group_header{
                .title{
                    color: black;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .content{
                margin-top: 5px;
                padding: 10px;
                min-height: 30px;
                background-color: white;
                border-radius: 5px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
                -moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.75);
                box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.75);
            }
        }
    }
}