@use '../../assets/scss/base.scss' as base;

.oxford_dictionaries_widget {
    &{
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: left;
    }

    .oxford_header{
        &{
            width: 100%;
            @include base.normal-text;
        }
    }

    .oxford_entry{
        padding: 5px;
        border-radius: 10px;
        background-color: base.$background-color;
        @include base.normal-text;

        &:not(:first-child){
            margin-top: 10px;
        }

        .unheader_text{
            font-weight: normal;
        }
    }

    #searchOxford{
        margin: 10px;
        border-radius: 20px;
        width: calc(100% - 20px);
        padding: 10px;
        border: 0;
        background-color: base.$primary-color;
        transition: background-color .3s;
        cursor: pointer;
        @include base.normal-text;
        color: white !important;

        @include base.darker-when-hover(base.$primary-color, 20%);

        &.disable_search{
            background-color: darken(base.$primary-color, 50%);
            cursor: default;
        }
    }

    .text_input{
        @include base.normal-text;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 0 10px;
        width: calc(100% - 20px);
        border: 1px solid gray;
        background-color: base.$base-color;
        padding: 10px;
    }

    .main_content{
        &{
            overflow: auto;
            width: 100%;
            height: calc(100% - 200px);
            @include base.normal-text;
        }

        .show_warning_container{
            margin: 10px;
            padding: 10px;
            
            background-color: base.$background-color;
            border-radius: 5px;
            @include base.normal-text;

            color: base.$warning-color;
            
            @include base.box-shadow;
        }

        .group{
            margin: 10px;

            .group_header{
                .title{
                    @include base.medium-text;
                    font-weight: bold;
                }
            }

            .content{
                margin-top: 5px;
                padding: 10px;
                min-height: 30px;
                background-color: base.$base-color;
                border-radius: 5px;
                @include base.normal-text;
                @include base.box-shadow;
            }
        }
    }
}