<div :class="$style.notepad" :style="styleObject" v-if="isNotePadShowing">
  <div :class="[$style.draggable_header, dragging.isDragging ? $style.dragging : '']" @mousedown="mousedown" @mousemove="mousemove" @mouseup="mouseup"></div>
  
  <button :id="$style.close_button" @click="closeNotePad">
    <font-awesome-icon icon="times"></font-awesome-icon>
  </button>

  <div :class="$style.tabs">
    <input type="radio" :id="$style.tab1" name="tab-control" checked>
    <input type="radio" :id="$style.tab2" name="tab-control">
    <input type="radio" :id="$style.tab3" name="tab-control">
    <input type="radio" :id="$style.tab4" name="tab-control">

    <ul>
        <li title="Wikipedia">
            <label :for="$style.tab1" role="button" @click="changeSection('wiki')">
                <font-awesome-icon :icon="['fab', 'wikipedia-w']"></font-awesome-icon>
            </label>
        </li>
        <li title="Translate">
            <label :for="$style.tab2" role="button" @click="changeSection('translate')">
                <font-awesome-icon icon="language"></font-awesome-icon>
            </label>
        </li>
        <li title="Oxford Dictionaries" @click="changeSection('dictionaries')">
            <label :for="$style.tab3" role="button">
                <font-awesome-icon icon="atlas"></font-awesome-icon>
            </label>
        </li>
        <!--
        <li title="Your Highlights" @click="changeSection('highlighter')">
            <label :for="$style.tab4" role="button">
              <font-awesome-icon icon="highlighter"></font-awesome-icon>
            </label>
        </li>
      -->
    </ul>

    <!--
    <div class="slider">
        <div class="indicator"></div>
    </div>
  -->

    <div :class="$style.content">
        <section>
            <wikipedia-widget 
            :highlighted-text="highlightedText">
          </wikipedia-widget>
        </section>
        <section>
          <translate-widget 
          :highlighted-text="highlightedText" 
          :should-translate="translateConfig.shouldTranslate"
          ></translate-widget>
        </section>
        <section>
          <oxford-dictionaries-widget
          :highlighted-text="highlightedText"
          :should-oxford="oxfordConfig.shouldOxford"
          :not-the-first-time="oxfordConfig.notTheFirstTime"
          ></oxford-dictionaries-widget>
        </section>

        <!--Highlighter (comming soon)-->
        <!--
        <section></section>
        -->
    </div>
  </div>
</div>

